* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    background-color: grey;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 50px;
}

.box-one {
    background-color: red;
    width: 200px;
    height: 200px;
    float: left;
}

.box-two {
    background-color: black;
    width: 200px;
    height: 200px;
    float: right;
}

.box-new {
    background-color: black;
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 50px;
}

.margin {
    margin-right: 0;
}

.fix {
    overflow: visible;
}

.clearfix {
    clear:both
}

.wrap {
    padding: 50px 0px 50px 50px;
    overflow: hidden;
}

.first , .second {
    margin-right: 50px;
}

.wrapper {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.big {
    width: 500px;
    height: 500px;
}

.small {
    width: 400px;
    margin-bottom: 50px;
}

.lower {
    margin-bottom: 0;
}

.block {
    overflow: hidden;
    margin-right: 150px;
}

.right {
    margin-right: 0;
    padding: 0px 0px 0px 300px;
}

.bigger {
    width: 400px;
    height: 400px;
}

.smaller {
    width: 300px;
    height: 150px;
    margin-bottom: 100px;
}

.bottom {
    margin-bottom: 0;
}

.side {
    margin-right: 50px;
}